/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::-moz-selection, .cm-fat-cursor .CodeMirror-line > span::-moz-selection, .cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */ border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/*
! tailwindcss v3.2.6 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e5e5; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Mona Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: Fira Code, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #a3a3a3; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #a3a3a3; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(62 109 243 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(62 109 243 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.pro-fixed {
  position: fixed;
}
.pro-absolute {
  position: absolute;
}
.pro-relative {
  position: relative;
}
.pro-inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.pro-bottom-0 {
  bottom: 0px;
}
.pro-left-0 {
  left: 0px;
}
.pro-left-1 {
  left: 0.25rem;
}
.pro-left-1\/2 {
  left: 50%;
}
.pro-left-4 {
  left: 1rem;
}
.pro-left-\[-2px\] {
  left: -2px;
}
.pro-left-\[50\%\] {
  left: 50%;
}
.pro-right-0 {
  right: 0px;
}
.pro-top-0 {
  top: 0px;
}
.pro-top-1 {
  top: 0.25rem;
}
.pro-top-1\.5 {
  top: 0.375rem;
}
.pro-top-1\/2 {
  top: 50%;
}
.pro-top-\[-1\.2rem\] {
  top: -1.2rem;
}
.pro-top-\[-30px\] {
  top: -30px;
}
.pro-top-\[0\.2rem\] {
  top: 0.2rem;
}
.pro-z-\[1000\] {
  z-index: 1000;
}
.pro-z-\[20\] {
  z-index: 20;
}
.pro-z-\[900\] {
  z-index: 900;
}
.pro-order-1 {
  order: 1;
}
.pro-order-2 {
  order: 2;
}
.pro-mx-\[-1rem\] {
  margin-left: -1rem;
  margin-right: -1rem;
}
.pro-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.pro-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pro-mb-1 {
  margin-bottom: 0.25rem;
}
.pro-mb-2 {
  margin-bottom: 0.5rem;
}
.pro-mb-4 {
  margin-bottom: 1rem;
}
.pro-mb-8 {
  margin-bottom: 2rem;
}
.pro-ml-1 {
  margin-left: 0.25rem;
}
.pro-ml-\[-12px\] {
  margin-left: -12px;
}
.pro-ml-\[-17\%\] {
  margin-left: -17%;
}
.pro-mr-2 {
  margin-right: 0.5rem;
}
.pro-mt-2 {
  margin-top: 0.5rem;
}
.pro-mt-3 {
  margin-top: 0.75rem;
}
.pro-mt-\[-4px\] {
  margin-top: -4px;
}
.pro-mt-\[-5\%\] {
  margin-top: -5%;
}
.pro-ml-2 {
  margin-left: 0.5rem;
}
.pro-block {
  display: block;
}
.pro-inline-block {
  display: inline-block;
}
.pro-flex {
  display: flex;
}
.pro-grid {
  display: grid;
}
.pro-hidden {
  display: none;
}
.pro-aspect-\[16\/9\] {
  aspect-ratio: 16/9;
}
.pro-aspect-\[4\/1\] {
  aspect-ratio: 4/1;
}
.pro-h-5 {
  height: 1.25rem;
}
.pro-h-\[16px\] {
  height: 16px;
}
.pro-h-full {
  height: 100%;
}
.pro-max-h-screen {
  max-height: 100vh;
}
.pro-min-h-screen {
  min-height: 100vh;
}
.pro-w-20 {
  width: 5rem;
}
.pro-w-5 {
  width: 1.25rem;
}
.pro-w-6 {
  width: 1.5rem;
}
.pro-w-\[16px\] {
  width: 16px;
}
.pro-w-\[28rem\] {
  width: 28rem;
}
.pro-w-\[325px\] {
  width: 325px;
}
.pro-w-\[34\%\] {
  width: 34%;
}
.pro-w-full {
  width: 100%;
}
.pro-min-w-\[60px\] {
  min-width: 60px;
}
.pro-min-w-\[120px\] {
  min-width: 120px;
}
.pro-max-w-\[50\%\] {
  max-width: 50%;
}
.pro-max-w-xl {
  max-width: 36rem;
}
.pro-flex-shrink {
  flex-shrink: 1;
}
.pro-flex-grow {
  flex-grow: 1;
}
.pro-translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.pro--rotate-90 {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.pro-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.pro-cursor-default {
  cursor: default;
}
.pro-cursor-grab {
  cursor: grab;
}
.pro-cursor-pointer {
  cursor: pointer;
}
.pro-list-inside {
  list-style-position: inside;
}
.pro-list-disc {
  list-style-type: disc;
}
.pro-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.pro-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.pro-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.pro-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.pro-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.pro-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.pro-flex-col {
  flex-direction: column;
}
.pro-flex-wrap {
  flex-wrap: wrap;
}
.pro-items-center {
  align-items: center;
}
.pro-justify-center {
  justify-content: center;
}
.pro-gap-2 {
  gap: 0.5rem;
}
.pro-space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}
.pro-overflow-hidden {
  overflow: hidden;
}
.pro-overflow-scroll {
  overflow: scroll;
}
.pro-overflow-y-scroll {
  overflow-y: scroll;
}
.pro-whitespace-nowrap {
  white-space: nowrap;
}
.pro-rounded-md {
  border-radius: 0.375rem;
}
.pro-rounded-sm {
  border-radius: 0.125rem;
}
.pro-rounded-bl-sm {
  border-bottom-left-radius: 0.125rem;
}
.pro-rounded-tl-sm {
  border-top-left-radius: 0.125rem;
}
.pro-border {
  border-width: 1px;
}
.pro-border-0 {
  border-width: 0px;
}
.pro-border-2 {
  border-width: 2px;
}
.pro-border-b {
  border-bottom-width: 1px;
}
.pro-border-l {
  border-left-width: 1px;
}
.pro-border-r {
  border-right-width: 1px;
}
.pro-border-r-0 {
  border-right-width: 0px;
}
.pro-border-t {
  border-top-width: 1px;
}
.pro-border-b-2 {
  border-bottom-width: 2px;
}
.pro-border-dashed {
  border-style: dashed;
}
.pro-border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(71 63 235 / var(--tw-border-opacity));
}
.pro-border-blue-700 {
  --tw-border-opacity: 1;
  border-color: rgb(50 38 212 / var(--tw-border-opacity));
}
.pro-border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
}
.pro-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
}
.pro-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
}
.pro-border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(62 109 243 / var(--tw-border-opacity));
}
.pro-border-transparent {
  border-color: transparent;
}
.pro-border-orange-200 {
  --tw-border-opacity: 1;
  border-color: rgb(254 215 170 / var(--tw-border-opacity));
}
.pro-border-orange-600 {
  --tw-border-opacity: 1;
  border-color: rgb(234 88 12 / var(--tw-border-opacity));
}
.pro-bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(62 109 243 / var(--tw-bg-opacity));
}
.pro-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.pro-bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.pro-bg-gray-700\/10 {
  background-color: rgb(64 64 64 / 0.1);
}
.pro-bg-gray-700\/25 {
  background-color: rgb(64 64 64 / 0.25);
}
.pro-bg-transparent {
  background-color: transparent;
}
.pro-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.pro-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 229 / var(--tw-bg-opacity));
}
.pro-bg-gradient-to-bl {
  background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
}
.pro-from-blue-400 {
  --tw-gradient-from: #6F9CF8;
  --tw-gradient-to: rgb(111 156 248 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.pro-from-blue-600 {
  --tw-gradient-from: #473FEB;
  --tw-gradient-to: rgb(71 63 235 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.pro-to-blue-400 {
  --tw-gradient-to: #6F9CF8;
}
.pro-to-blue-600 {
  --tw-gradient-to: #473FEB;
}
.pro-p-2 {
  padding: 0.5rem;
}
.pro-p-2\.5 {
  padding: 0.625rem;
}
.pro-p-4 {
  padding: 1rem;
}
.pro-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pro-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pro-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.pro-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.pro-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pro-py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.pro-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.pro-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pro-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.pro-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.pro-pb-1 {
  padding-bottom: 0.25rem;
}
.pro-pb-2 {
  padding-bottom: 0.5rem;
}
.pro-pb-4 {
  padding-bottom: 1rem;
}
.pro-pb-8 {
  padding-bottom: 2rem;
}
.pro-pl-2 {
  padding-left: 0.5rem;
}
.pro-pl-5 {
  padding-left: 1.25rem;
}
.pro-pr-1 {
  padding-right: 0.25rem;
}
.pro-pr-4 {
  padding-right: 1rem;
}
.pro-pt-1 {
  padding-top: 0.25rem;
}
.pro-pt-2 {
  padding-top: 0.5rem;
}
.pro-text-left {
  text-align: left;
}
.pro-font-sans {
  font-family: Mona Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.pro-text-\[14px\] {
  font-size: 14px;
}
.pro-text-\[16px\] {
  font-size: 16px;
}
.pro-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.pro-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.pro-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.pro-font-bold {
  font-weight: 700;
}
.pro-font-medium {
  font-weight: 500;
}
.pro-font-semibold {
  font-weight: 600;
}
.pro-uppercase {
  text-transform: uppercase;
}
.pro-text-black\/50 {
  color: rgb(0 0 0 / 0.5);
}
.pro-text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(62 109 243 / var(--tw-text-opacity));
}
.pro-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(163 163 163 / var(--tw-text-opacity));
}
.pro-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity));
}
.pro-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(64 64 64 / var(--tw-text-opacity));
}
.pro-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}
.pro-text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.pro-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}
.pro-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.pro-text-white\/80 {
  color: rgb(255 255 255 / 0.8);
}
.pro-text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(71 63 235 / var(--tw-text-opacity));
}
.pro-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity));
}
.pro-text-orange-600 {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity));
}
.pro-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pro-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pro-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pro-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pro-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pro-transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/**
  * dropzones cannot cause layout shift _at all_ when an element is selected, so we position them absolutely.
 */
.prodigy-dropzone.prodigy-dropzone-minimal {
    width: 100%;
    position: absolute;
    height: 6px;
    top:-3px;
}


.prodigy-dropzone.prodigy-dropzone-regular.prodigy-highlight-dropzone {
  border-radius: 0.375rem;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(0 0 0 / 0.5);
  padding: 1rem;
  text-align: center;
  color: rgb(0 0 0 / 0.5);
}

.prodigy-dropzone.prodigy-dropzone-expanded {
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(0 0 0 / 0.5);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: rgb(0 0 0 / 0.5);
}
.prodigy-dropzone.prodigy-dropzone-expanded.prodigy-highlight-dropzone {
  padding-top: 4rem;
  padding-bottom: 4rem;
}



.property-top-line, .property-right-line, .property-bottom-line, .property-left-line {
    position: relative;
}

.property-top-line:after, .property-right-line:after, .property-bottom-line:after, .property-left-line:after {
    content: " ";
    position: absolute;
    background: #4B5563;
    border-radius: 2px;
}

.property-top-line:after {
    left: 50%;
    margin-left: -10px;
    top: 4px;
    width: 20px;
    height: 2px;
}

.property-right-line:after {
    top: 50%;
    margin-top: -10px;
    right: 4px;
    width: 2px;
    height: 20px;
}

.property-bottom-line:after {
    left: 50%;
    margin-left: -10px;
    bottom: 4px;
    width: 20px;
    height: 2px;
}

.property-left-line:after {
    top: 50%;
    margin-top: -10px;
    left: 4px;
    width: 2px;
    height: 20px;
}

/*
 * Mona Sans
 */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/vendor/prodigy/fonts/mona-sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/vendor/prodigy/fonts/mona-sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/*
 * Fira Code
 */
@font-face {
  font-family: 'Fira Code';
  src:
    url('/vendor/prodigy/fonts/fira-code/fira-code.woff2') format('woff2 supports variations'),
    url('/vendor/prodigy/fonts/fira-code/fira-code.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
.hover\:pro-cursor-default:hover {
  cursor: default;
}
.hover\:pro-cursor-grab:hover {
  cursor: grab;
}
.hover\:pro-border-gray-100:hover {
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
}
.hover\:pro-border-gray-300:hover {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
}
.hover\:pro-border-blue-500:hover {
  --tw-border-opacity: 1;
  border-color: rgb(62 109 243 / var(--tw-border-opacity));
}
.hover\:pro-bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 63 235 / var(--tw-bg-opacity));
}
.hover\:pro-bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 229 / var(--tw-bg-opacity));
}
.hover\:pro-bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.hover\:pro-bg-gray-700\/10:hover {
  background-color: rgb(64 64 64 / 0.1);
}
.hover\:pro-bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.hover\:pro-from-blue-600:hover {
  --tw-gradient-from: #473FEB;
  --tw-gradient-to: rgb(71 63 235 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.hover\:pro-to-blue-700:hover {
  --tw-gradient-to: #3226D4;
}
.hover\:pro-text-blue-500:hover {
  --tw-text-opacity: 1;
  color: rgb(62 109 243 / var(--tw-text-opacity));
}
.hover\:pro-text-blue-700:hover {
  --tw-text-opacity: 1;
  color: rgb(50 38 212 / var(--tw-text-opacity));
}
.hover\:pro-text-red-500:hover {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.hover\:pro-text-red-700:hover {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}
.hover\:pro-text-gray-700:hover {
  --tw-text-opacity: 1;
  color: rgb(64 64 64 / var(--tw-text-opacity));
}
.hover\:pro-text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity));
}
.hover\:pro-underline:hover {
  text-decoration-line: underline;
}
.hover\:pro-shadow-sm:hover {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:pro-ring-2:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.hover\:pro-ring-blue-300:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(149 185 251 / var(--tw-ring-opacity));
}
.focus\:pro-border-blue-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(62 109 243 / var(--tw-border-opacity));
}
.focus\:pro-ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:pro-ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(62 109 243 / var(--tw-ring-opacity));
}
.disabled\:pro-text-gray-500:disabled {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity));
}
.pro-group\/column:hover .group-hover\/column\:pro-flex {
  display: flex;
}
.pro-group\/row:hover .group-hover\/row\:pro-flex {
  display: flex;
}
.pro-group\/column:hover .group-hover\/column\:pro-border-2 {
  border-width: 2px;
}
.pro-group\/row:hover .group-hover\/row\:pro-border-2 {
  border-width: 2px;
}
.pro-group\/column:hover .group-hover\/column\:pro-border-blue-400 {
  --tw-border-opacity: 1;
  border-color: rgb(111 156 248 / var(--tw-border-opacity));
}
.pro-group\/row:hover .group-hover\/row\:pro-border-blue-400 {
  --tw-border-opacity: 1;
  border-color: rgb(111 156 248 / var(--tw-border-opacity));
}
@media (min-width: 768px) {

  .md\:pro-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:pro-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:pro-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:pro-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:pro-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:pro-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {

  .lg\:pro-relative {
    position: relative;
  }

  .lg\:pro-inset-auto {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .lg\:pro-max-h-screen {
    max-height: 100vh;
  }

  .lg\:pro-min-h-screen {
    min-height: 100vh;
  }

  .lg\:pro-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:pro-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:pro-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:pro-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:pro-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:pro-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .lg\:pro-rounded-lg {
    border-radius: 0.5rem;
  }

  .lg\:pro-p-12 {
    padding: 3rem;
  }
}

