@tailwind base;
@tailwind components;
@tailwind utilities;


.property-top-line, .property-right-line, .property-bottom-line, .property-left-line {
    position: relative;
}

.property-top-line:after, .property-right-line:after, .property-bottom-line:after, .property-left-line:after {
    content: " ";
    position: absolute;
    background: #4B5563;
    border-radius: 2px;
}

.property-top-line:after {
    left: 50%;
    margin-left: -10px;
    top: 4px;
    width: 20px;
    height: 2px;
}

.property-right-line:after {
    top: 50%;
    margin-top: -10px;
    right: 4px;
    width: 2px;
    height: 20px;
}

.property-bottom-line:after {
    left: 50%;
    margin-left: -10px;
    bottom: 4px;
    width: 20px;
    height: 2px;
}

.property-left-line:after {
    top: 50%;
    margin-top: -10px;
    left: 4px;
    width: 2px;
    height: 20px;
}

/*
 * Mona Sans
 */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/vendor/prodigy/fonts/mona-sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/vendor/prodigy/fonts/mona-sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}