@tailwind base;
/*@import "./custom-reset.css";*/
@tailwind components;
@tailwind utilities;

@import "../codemirror/codemirror.css";

/**
  * dropzones cannot cause layout shift _at all_ when an element is selected, so we position them absolutely.
 */
.prodigy-dropzone.prodigy-dropzone-minimal {
    width: 100%;
    position: absolute;
    height: 6px;
    top:-3px;
}

.hide-when-editing {
    display: none!important;
}


.prodigy-dropzone.prodigy-dropzone-regular.prodigy-highlight-dropzone {
    @apply pro-rounded-md pro-p-4 pro-border-2 pro-border-black/50 pro-border-dashed pro-text-black/50 pro-text-center;
}

.prodigy-dropzone.prodigy-dropzone-expanded {
    @apply pro-px-6 pro-py-12 pro-border-2 pro-border-black/50 pro-border-dashed pro-text-black/50 pro-text-center;
}
.prodigy-dropzone.prodigy-dropzone-expanded.prodigy-highlight-dropzone {
    @apply pro-py-16;
}



.property-top-line, .property-right-line, .property-bottom-line, .property-left-line {
    position: relative;
}

.property-top-line:after, .property-right-line:after, .property-bottom-line:after, .property-left-line:after {
    content: " ";
    position: absolute;
    background: #4B5563;
    border-radius: 2px;
}

.property-top-line:after {
    left: 50%;
    margin-left: -10px;
    top: 4px;
    width: 20px;
    height: 2px;
}

.property-right-line:after {
    top: 50%;
    margin-top: -10px;
    right: 4px;
    width: 2px;
    height: 20px;
}

.property-bottom-line:after {
    left: 50%;
    margin-left: -10px;
    bottom: 4px;
    width: 20px;
    height: 2px;
}

.property-left-line:after {
    top: 50%;
    margin-top: -10px;
    left: 4px;
    width: 2px;
    height: 20px;
}

/*
 * Mona Sans
 */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/vendor/prodigy/fonts/mona-sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/vendor/prodigy/fonts/mona-sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/*
 * Fira Code
 */
@font-face {
  font-family: 'Fira Code';
  src:
    url('/vendor/prodigy/fonts/fira-code/fira-code.woff2') format('woff2 supports variations'),
    url('/vendor/prodigy/fonts/fira-code/fira-code.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
